@media screen and (max-width: 960px) {
    #Reproductor {
        display: none;
    }

    #menu {
        width: 30%;
    }

    #principal {
        width: 100%;
    }

    .ListSongs th:nth-child(5),
    td:nth-child(5) {
        display: none;
    }
}